<% include ../partials/_head %>

	<p> Defending Champ: <%= reign.champ.name %></p>
<!-- list all defenses -->
	<table>
		<% for (let a = 0; a < reign.defenses.length; a++) { %>
			<tr> 
				<td> <%= reign.defenses[a].challenger %></td>
				<td> <%= reign.defenses[a].result %></td>
			</tr>
		<% } %>
	</table>
	<form action="/api/titles/addDefense/<%= reign._id %>?_method=PUT" method="POST"> 
    

		<h3> Add Defenses </h3>
		<span id="defenses"> 
			<!-- edit defenses -->
			<h5> Challenger </h5>
			<select name="challenger"> 
				<% for(let i = 0; i < allSuperstars.length; i++) {%>
					<option value="<%= allSuperstars[i].name %>"> <%= allSuperstars[i].name %> </option>
				<%}%>
			</select>

			<!-- add new defense -->
			<input type="text" name="result" placeholder="result" /> 

		</span>

		<button type="submit">Save</button>

	</form>




<% include ../partials/_footer %>
