
<% include ../partials/_head %>
<% include ../partials/_header %>



	<h2> It's a Match! </h2>
	<h2><%= you %> matched with <%= match%></h2>

	<p> Below are the available dates you both can go: </p>
	
	<% for (let a = 0; a < dates.length; a++) {%>
		 <h2> <%= dates[a].name %>,
		<%= dates[a].price %>,
		<%= dates[a].address %>,
		<%= dates[a].type %> </h2> 

	<% }%>
	
	<button  id="dif" class= "btn btn-secondary btn-lg" aria-pressed="false" name="button" onclick="window.location.href='/user/<%= user._id%>/my-matches'">View my matches</button>
<% include ../partials/_footer %>
