<% include ../partials/_head %>
<% include ../partials/_header %>

	<div class="edit-profile">
		<a href="/user/<%= user.id%>/full"> <img src="/images/profile-white.png" alt="edit"> </a>

	</div>
	<div class="edit-profile my-matches">
		<a href="/user/<%= user.id%>/my-matches"> <img src="/images/matches-white.png" alt="matches"> </a> 

	</div>
	<div class="card">
			<img class="user-photo" src="<%= match.picture%>" alt="user-photo">
			<h2><%= match.name%>, <%= match.age%> </h2> 
			<h5> <%= match.about%></h5>
	</div>



	<form action='/user/main/<%= user._id%>?_method=PUT' method='POST'>
		<button class="swipe-button" type='submit' name='match' value='pass'> <img src="/images/x-red.png" alt="pass"> </button>
		<button class="swipe-button" type='submit' name='match' value='like'> <img src="/images/heart-green.png" alt="like"> </button>

	</form>


<% include ../partials/_footer %>
